<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Constant.Hosting.Rebus" version="1.0.2" targetFramework="net45" />
  <package id="Constant.Module.Interfaces" version="1.0.12" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net45" />
  <package id="LightInject" version="3.0.2.5" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.4.0" targetFramework="net45" />
  <package id="Rebus" version="0.80.1" targetFramework="net45" />
  <package id="Rebus.RabbitMQ" version="0.80.0" targetFramework="net45" />
  <package id="Serilog" version="1.4.204" targetFramework="net45" />
</packages>